@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Header section style start now */

#header-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    padding-bottom: 50px;
}

.half-width {
    width: 50%;
}

.bg-img {
    background-image: url(images/Group\ 8449.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #555;
    line-height: 65px;
}

.half-width h1 span {
    color: #13B7FC;

}

.half-width .pera {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 155px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.6);

}

.half-width img {
    width: 100%;
    transform: rotate(-10deg);
    margin-top: -27px;
    margin-left: -20px;
}

.btn {
    background-image: linear-gradient(to left, #0691F7, #10AFFB);
    padding: 7px 15px;
    border-radius: 20px;
    color: white;
    text-transform: capitalize;
}

/* Header section style end now */