@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Header section style start now */

#header-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    padding-bottom: 50px;
}

.half-width {
    width: 50%;
}

.bg-img {
    background-image: url(images/Group\ 8449.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #555;
    line-height: 65px;
}

.half-width h1 span {
    color: #10AFFB;

}

.half-width .pera {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 155px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.6);

}

.half-width img {
    width: 100%;
    transform: rotate(-10deg);
    margin-top: -27px;
    margin-left: -20px;
}

.btn {
    background-image: linear-gradient(to left, #0691F7, #10AFFB);
    padding: 7px 25px;
    border-radius: 20px;
    color: white;
    text-transform: capitalize;
}

/* Header section style end now */

/* About section style start now */
#about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.ab_box {
    width: 50%;
}

.ab_box h2 {
    font-size: 40px;
    color: #555;
}

.ab_box p {
    padding: 25px 0;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 80px;
}

.ab_box .ab_img {
    width: 50%;
    text-align: center;
}

.img_center {
    text-align: center;
}

/* About section style start now */

/* recipies-section style start now */

#recipies-section .title {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 40px;
    color: #555;
}

#recipies-section .peragraph {
    text-align: center;
    padding: 30px 320px;
    color: rgba(0, 0, 0, 0.6);
}

.recipie_boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.recipie_box {
    width: 50%;
    margin: 0 10px;
    padding: 20px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.recipie_box img {
    width: 100%;
    height: 300px;
}

.recipie_box h2 {
    text-transform: capitalize;
    padding: 10px 0;
    color: #555;
}

.recipie_box p {
    color: rgba(0, 0, 0, 0.6);
}

/* recipies-section style end now */

/* rating section style start now */
#rating-section {
    padding: 50px 0;
}

.rating-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7%;
    padding: 25px 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.rating-box div h2 {
    font-weight: 900;
    font-size: 50px;
}

/* rating section style end now */

/* footer section style start now  */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

footer h2 {
    text-transform: capitalize;
    padding: 15px 0;
}

footer span {
    color: #10AFFB;
}

/* footer section style end now  */